{% extends 'pes/layout/base.html' %}

{% block content %}

<h1>Hello world</h1>

<div class="row">
    {% for c in classes %}
    <div class="col-md-4 col-12 p-2">
        <div class="card">
            <img class="card-img-top img-hotel" src="{{ c.image_url }}" alt="{{ c.get_class_type_display }}">
            <div class="card-body">
                <h4 class="card-title"><strong>{{ c.get_class_type_display }}:</strong> {{ c.name }}<br></h4>
                <p class="card-text">
                    <em>Trainer:</em>
                    {% if c.trainer %}
                        {{ c.trainer }}
                    {% else %}
                        N/A
                    {% endif %}<br>
                    <em>Schedule:</em>
                    {% if c.schedule %}
                        {{ c.schedule }}
                    {% else %}
                        N/A
                    {% endif %}<br>
                </p>
                <a href="#" class="btn btn-sm">Xem chi tiết</a>
                <a href="#" class="btn btn-sm">Đăng ký</a>
            </div>
        </div>
    </div>
    {% empty %}
        <li>Không có lớp.</li>
    {% endfor %}
</div>

{% endblock %}