{% extends 'pes/layout/base.html' %}

{% block content %}
<h1 class="text-center text-danger mt-2">Trang cá nhân</h1>
<div class="row">
    <div class="col-3" style="background-color: lightblue; border-radius: 20px; padding: 15px;">
        <img src="{{ user.avatar.url }}" width="200" class="rounded-circle d-block w-100"/>
        <h2 class="mt-1 text-center">{{ user.get_full_name }}</h2>
        <p>
            <h4>Thông tin cá nhân</h4>
            &#128188 {{ user.role }}<br>
            &#128231 {{ user.email }}<br>
            &#128241 {{ user.phone }}
        </p>
    </div>
    <div class="col-8 ms-2">
        <h4>Các lớp đã hoàn thành</h4>

        <h4>Các lớp đang tiến hành</h4>

        <h4>Các lớp cần thanh toán</h4>
    </div>
</div>

{% endblock %}